/*style.css*/
* {
    box-sizing: border-box;
}
html {
    background-image: url(img/bg-intro-desktop.png);
    background-attachment: fixed;
    background-color: black;
}
main {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 6px;
    padding-bottom: 100px;
}
h1 {
    color: rgb(32, 64, 97);
}
img {
    width: 98%;
}
h1 img {
    width: 30px;
}
iframe {
    width: 100%; 
    height: 400px;
    text-align: center; 
    background-color: black;
}
p {
    font-size: 30px;
}
.mobs img {
    width: 200px;
    float: left;
}
.mobs p {
    font-size: 15px;
}
.id img {
    width: 30px;
}
.bdr {
    border-top: 4px double gray;
}
.id {
    color: lightgray;
    width: auto;
    height: auto;
    position: fixed;
    left: 5%;
    top: 30%;
    background-color: red;
}
.phone {
    display: none;
}
.min {
    width: 30px;
}

@import "https://fonts.googleapis.com/css?family=Russo+One";
h2.funny-title{border-top:5px solid #E0DBDE;border-bottom:5px solid #E0DBDE;font-size:70px;text-align:center;margin-top:40px;margin-bottom:5px;text-transform:uppercase;font-family:'Russo One',sans-serif;font-weight:900;letter-spacing:8px}
@-webkit-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@-moz-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
.section-title{-webkit-animation-play-state:running;-moz-animation-play-state:running;animation-play-state:running;color:transparent;background:url(/img/bg-intro-desktop.png) no-repeat #ECE7EA;background-size:cover;-webkit-text-fill-color:transparent;-moz-text-fill-color:transparent;-webkit-background-clip:text;-moz-background-clip:text;background-clip:text;-webkit-animation:move-background 20s infinite linear alternate;-moz-animation:move-background 20s infinite linear alternate;animation:move-background 20s infinite linear alternate}

@media (max-width:1000px) {
    main {
        width: 90%;
    }
    .check {
        color: #234bfc;
    }
    .svg {
        width: 30px;
    }
    .phone {
        display: block;
        width: 100%;
        height: 60px;
        text-align: center;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 10px;
        border-top: 2px solid black;
        background-color: white;
    }
    .nav-p {
        margin-top: 0;
        font-size: 12px;
    }
    .jj {
        display: inline-block;
        margin: 10px;
        margin-top: 0;
        color: black;
    }
    .id {
        display: none;
    }
    h2 {
        display: none;
    }
}
